:root {
	--background: #323333;
	--text: #c7c6c6;
	--orange: #c7ca19d0;
	--shadow: 2px 5px 10px #000;
}

.App {
  text-align: center;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background);
  color: var(--text);
}

img {
	margin-top: 1.5em;
	max-height: 10em;
	max-width: 15em;
	justify-self: center;
	align-self: center;
}

.matches-img {
	max-height: 4em;
	max-width: 5em;
	justify-self: center;
	align-self: center;
	margin: 0;
}

.gallery-container > section {
	position: relative;
}

.hamster-card {

	width: 15em;
	padding: 1em;
	margin: 1em;
	border-radius: 5px;
	position: relative;
	box-shadow: var(--shadow);
}

.hamster-card li {
	width: 70%;
	display: flex;
	flex-direction: row;
	align-items: center;
	text-align: left;
	margin: 0 auto;
}



.hamster-card li:first-child {
	justify-content: center;
}



aside {
	display: inline-block;
	position: absolute;
	top: 1em;
	right: 1em;
	font-weight: 600;
}

aside:hover, .game-card:hover {
	cursor: pointer;
}



.info-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #c7c6c6d6;
    color: #323333;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 3em;
	border-radius: 5px;
}

.gallery-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}


.contestants {
	display: flex;
	flex-direction: row;
}

.add-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 500px;
	justify-content: space-evenly;
	width: 400px;
	margin: 6em auto;
	border-radius: 5px;
	padding: 2em 0;
	position: absolute;
    background-color: var(--orange);
	color: var(--background);
    z-index: 1;
	box-shadow: var(--shadow);
}

.form-background-overlay {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: #323333ab;
	z-index: 1;
}

.add-form input {
	width: 65%;
	font-size: 1em;
	padding: .5em 1em;
	border-radius: 100px;
	background-color: #ffffffaf;
}

.add-form input:focus {
	outline: none;
	border: 3px inset rgb(53, 175, 5);
}

.add-form input:last-child{
	width: 75%;
	background-color: var(--background);
	color: var(--text);
}

.add-form input:last-child:hover {
	cursor: pointer;
	filter: brightness(1.4);
}

button:hover {
	cursor: pointer;
}

.statistik-container {
	display: flex;
	flex-direction: row;
}

.matches-history {
	display: flex;
	flex-direction: column;
	width: 70vw;
	max-width: 1000px;
	align-items: center;
}

.matches-history article {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	border: 2px solid var(--text);
	border-radius: 5px;
	margin: 1em;
	width: 100%;
	flex:1
}

.matches-history article li {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
}