:root {
	--background: #323333;
	--bg-opacity: #323333d3;
	--text: #c7c6c6;
	--orange: #c7ca19d0;
	--shadow: 2px 5px 10px #000;
}

html {
	height: 100%;
	background-color: var(--background);
}

.App {
  text-align: center;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text);
}

header {
	width: 100vw;
	margin: 2em auto;
}

nav {
	display: flex;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: var(--bg-opacity);
	z-index: 2;
}

h1 {
	font-size: 2em;
}
 
a {
	color: var(--text);
}

nav a {
	margin: 1em;
}

main {
	margin: 3em auto;
}

img {
	margin-top: 1.5em;
	max-height: 10em;
	max-width: 15em;
	justify-self: center;
	align-self: center;
}

.matches-img {
	height: 10em;
	justify-self: center;
	align-self: center;
	margin: 0;
	border-radius: 5px;
}

.gallery-container > section {
	position: relative;
}

.hamster-card {
	width: 15em;
    padding: 2em 1em;
    margin: 1em;
    border-radius: 5px;
    color: var(--background);
    position: relative;
    box-shadow: var(--shadow);
    background-color: var(--text);
}


.hamster-card.gallery-card:hover, .game-card:hover {
	cursor: pointer;
	filter: brightness(1.1);
	box-shadow: 0px 0px 20px var(--orange);
}

.opacity-card {
	opacity: .5;
}

.hamster-card li {
	width: 80%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	text-align: left;
	margin: .3em auto;
	font-size: .9em;
}



.hamster-card .card-img-li {
	justify-content: center;
}



aside {
	display: inline-block;
	position: absolute;
	top: 1.5em;
	right: 2em;
	font-weight: 600;
	color: var(--background);
}

aside:hover {
	text-decoration: underline;
	cursor: pointer;
}




.info-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #c7c6c6d6;
    color: #323333;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	padding: 2em 0;
	border-radius: 5px;
	overflow-y: scroll;
}

.info-overlay li {
	justify-content: space-between;
}

.info-overlay  .competition-overlay {
	margin: 0 1em 0 0;
}

.info-overlay.rivalry-overlay {
	justify-content: center;
}

.info-overlay.rivalry-overlay li {
	text-align: center;
}

.gallery-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	row-gap: 3em;
	margin: 5em auto;
}


.contestants {
	display: flex;
	flex-direction: row;
}

.add-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 500px;
	justify-content: space-evenly;
	width: 400px;
	margin: 5em auto;
	border-radius: 5px;
	padding: 2em 0;
	position: fixed;
	top: 0;
	left: 0;
    right: 0;
    background-color: var(--orange);
	color: var(--background);
    z-index: 1;
	box-shadow: var(--shadow);
}

.form-background-overlay {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: #323333ab;
	z-index: 1;
}

.add-form input, button {
	width: 65%;
	font-size: 1em;
	padding: .5em 1em;
	border-radius: 100px;
	background-color: #ffffffaf;
}

.add-form input:focus {
	outline: none;
	border: 3px inset rgb(53, 175, 5);
}

.add-form input:last-child {
	width: 75%;
	background-color: var(--background);
	color: var(--text);
}

.add-form input:last-child:hover, button:hover {
	cursor: pointer;
	filter: brightness(1.4);
}
button {
	background-color: var(--orange);
	width: 160px;
}
/* button:hover {
	cursor: pointer;
} */

.statistik-container {
	display: flex;
	flex-direction: row;
}

.matches-history {
	display: flex;
	flex-direction: column;
	width: 70vw;
	max-width: 1000px;
	align-items: center;
}

.matches-history section {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	border-radius: 5px;
	margin: 3em 0;
	width: 600px;
	max-width: 80%;
	box-shadow: var(--shadow);
    color: var(--background);
    background-color: var(--text);
	padding: 1em 0;
}

.history-card {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 2em 1em;
}

.match-item {
	position: relative;
}

.bad-url-container {
	margin-top: 10em;
}

.bad-url-container h1 {
	font-size: 3em;
}
.bad-url-container h2 {
	font-size: 2em;
}
.bad-url-container p {
	font-size: 1.4em;
}