:root {
	--background: #323333;
	--bg-opacity: #f8f9f95c;
	--text: #c7c6c6;
	--orange: #c7ca19d0;
	--secondary: #4b9595;
	--header-bg: #4b9494;
	--header-bg-opacity: #4b94949c;
	--header-bg-mobile: #4b9494d7;
	--shadow: 2px 5px 10px #000;
}

html {
	height: 100%;
	background-color: var(--background);
}

.App {
  text-align: center;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  transition-duration: .3s;
}

header {
	width: 100vw;
    padding: 3em 0;
	margin-bottom: 5em;
    height: 20em;
    display: flex;
    flex-direction: column;
	align-items: center;
    justify-content: center;
	background-color: var(--header-bg);
	position: relative;
}

.logo-svg {
	position: absolute;
	margin-top: 0.15em;
	margin-left: .5em;
	width: 60px;
	height: 60px;
}

.hamster-burger {
	height: 0px;
	width: 0px;
	position: fixed;
	top: 1em;
	left: 1em;
	transition-duration: .3s;
}

.background-svg {
	fill: #b1c03d;
	filter: brightness(.95);
}

.details-svg {
	fill: var(--secondary);
	filter: brightness(.95);
}

nav.nav {
	display: flex;
	justify-content: center;
	flex-direction: row;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: var(--header-bg-opacity);
	z-index: 3;
}

h1 {
	font-size: 2em;
	color: var(--orange);
}


 
a {
	color: var(--text);
	transition-duration: .3s;
}

nav a {
	margin: 1em;
	font-weight: 600;
	text-decoration: none;
	transition-duration: .3s;
}

a:hover:not(button a) {
	text-decoration: underline;
	transition-duration: .3s;
}

main {
	margin-bottom: 10em;
}

img {
	width: 17em;
	justify-self: center;
	align-self: center;
	overflow: hidden;
	max-height: 15em;
    overflow: hidden;
	object-fit: cover;
	object-position: center;
}

.start-page {
	display: flex;
	flex-direction: column;
	align-items: center;
}
h1 {
	font-size: 4em;
	margin-block-end: 0;
}

.winner-is-header {
	font-size: 2.5em;
	color: var(--orange);
}

.start-page h2 {
	color: var(--orange);
}

.start-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 80vw;
	max-width: 1000px;
	gap: 7em 6em;
	margin: 3em auto;
}

.grid-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 1em;
}

.item-1 {
	grid-column: 1;
	grid-row:1/3;
	justify-content: flex-start;
	align-items: center;
}

.cutest-div {
	display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.cutest-div h2 {
	margin-block-end: 1em;
}

.cutest-div h3 {
	margin: 1.5em auto;
}

.cutest-div h4 {
	color: var(--secondary);
	font-size: 1.1em;
}

.item-1 .hamster-card {
	all: unset;
}

.item-1 .cutest-hamster {
	width: 80%;
}

.item-2 {
	padding-top: 1em;
}

.start-page p {
	line-height: 2em;
    font-size: 1.1em;
}

.start-page a {
	text-decoration: none;
}

.start-page img {
	width: 100%;
	height: 50vh;
	border-radius: 5px;
}


.matches-img {
	height: 15em;
	justify-self: center;
	align-self: center;
	margin: 0;
	border-radius: 5px;
}


.hamster-card {
	position: relative;
	border-radius: 5px;
    color: var(--background);
    position: relative;
    box-shadow: var(--shadow);
    background-color: var(--text);
	position: relative;
	overflow: hidden;
	margin: 1em;
	height: 85%;
	display: flex;
    flex-direction: column;
	justify-content: space-between;
}

.hamster-card h2 {
	margin-block-end: 1em;
	flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.statistik-container .hamster-card {
	height: unset;
}

.statistik-container img {
	width: 100%;
}

.game-card {
	margin: 1em;
}

.hamster-card.gallery-card:hover, .game-card:hover {
	cursor: pointer;
	box-shadow: 0px 0px 20px var(--orange);
	transition-duration: .3s;
}

.opacity-card {
	opacity: .5;
}

.other-card {
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	background-color: rgba(36, 35, 35, 0.438);
}

.hamster-card:hover:not(.statistik .hamster-card:hover, .cutest-hamster ) {
	cursor: pointer;
}

.hamster-card li {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	text-align: left;
	font-size: .9em;
}



.hamster-card .card-img-li {
	justify-content: center;
}



aside {
	display: inline-block;
	position: absolute;
	top: 1.5em;
	right: 1.5em;
	font-weight: 600;
	color: var(--background);
}

.gallery-container aside, .match-item aside {
	font-size: 2.5em;
	padding: 0;
	background-color: unset;
	top: 0.2em;
	right: 0.2em;
}

.gallery-container aside, .match-item aside svg {
	color: var(--secondary);
}

aside:hover {
	text-decoration: underline;
	cursor: pointer;
}

aside.remove-gallery-card {
	position: absolute;
    top: .5em;
    right: .5em;
}

aside.rival-check {
	font-size: 1em;
	top: 2em;
	right: 2em;
}

.fa-check {
	color: green;
	position: relative;
	background-color: var(--background);
    border-radius: 100%;
    padding: .5em;
	font-size: 1.5em;
	top: -.5em;
    right: -1em;
}

.fa-circle-minus:hover {
	transform: scale(1.1);
	border-radius: 100%;
	box-shadow: 0 0 10px var(--bg-opacity);
}



.info-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #c7c6c6dc;
    color: #323333;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	padding: 2em 1em;
	border-radius: 5px;
	overflow-y: scroll;
	z-index: 1;
}

.info-overlay li {
	justify-content: space-between;
}

.info-overlay.competition-overlay {
	margin: 0;
	padding: 1em 1em 0 1em;
}

.competition-overlay h1 {
	margin: 0;
	opacity: .4;
	font-size: 2.5em;
	color: initial;
}
.competition-overlay h2 {
	margin-block-start: 0.2em;
	margin-block-end: 0;
}

.info-overlay.rivalry-overlay {
	justify-content: center;
}

.info-overlay.rivalry-overlay li {
	text-align: center;
	margin: 0 auto;
}

.gallery-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 3em;
	margin: 5em auto;
}

.gallery-container section {
	position: relative;
}

.contest-container img {
	
	width: 100%;
	min-width: 17em;
	max-width: 21em;
}

.contestants {
	display: flex;
	flex-direction: row;
	margin: 3em auto;
}



.contestants .hamster-card {
	height: unset;
}

.add-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 550px;
	justify-content: flex-start;
	width: 400px;
	margin: 5em auto;
	border-radius: 5px;
	padding: 2em 0;
	position: fixed;
	top: 0;
	left: 0;
    right: 0;
    background-color: var(--orange);
	color: var(--background);
    z-index: 2;
	box-shadow: var(--shadow);
}

.form-background-overlay {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: #323333ab;
	z-index: 1;
}

.add-form h1 {
	color: var(--background);
	font-size: 2.5em;
	margin-block-end: 0.5em;
}

.add-form input, button {
	width: 65%;
	font-size: 1em;
	padding: .5em 1em;
	border-radius: 100px;
	border: 2px solid var(--bg-opacity);
	margin: .8em auto;
	background-color: #ffffffaf;
}

.add-form input:focus {
	outline: none;
}

.add-form .valid:focus {
	outline: none;
	border: 2px solid rgb(53, 175, 5);
}

.add-form .not-valid:focus {
	outline: none;
	border: 2px solid rgb(199, 23, 32);
}

.img-name-section {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	position: relative;
}

.img-name-section.img-preview {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: auto;
}

.img-name-section img {
	height: 50px;
	width: 50px;
	position: absolute;
	top: 0.2em;
	right: 0.5em;
	border-radius: 10px;
}
.MuiFormGroup-root {
	padding: 0 3em;
}


.img-name-section.img-preview input.img-input-valid:not(input:disabled) {
	width: 50%;
	margin: .5em 0;
}

.add-form span.input-alert {
	font-size: .7em;
	top: 5em;
	width: 100%;
	position: absolute;
}

.add-form article.add-hamster-input-art {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	width: 100%;
	position: relative;
}

.img-name-section span {
	font-size: .7em;
	text-align: left;
	margin: 1em;
	height: 4em;
	display: flex;
	align-items: center;
}

.add-form button {
	width: 75%;
	background-color: var(--background);
	color: var(--text);
}

button {
	background-color: var(--orange);
	width: 13em;
	height: 3.3em;
	font-weight: 600;
}

button, button a {
	color: var(--text);
}

button.add-hamster-btn, button.btn-light, button.btn-light a {
	color: var(--background);
}

button.go-to {
	background-color: var(--secondary);
}

button:hover:not(:disabled) {
	cursor: pointer;
	filter: brightness(1.4);
	transition-duration: .3s;
}

button:disabled, input:disabled {
	opacity: .5;
}

.statistik-container {
	display: flex;
	flex-direction: row;
}

.matches-history {
	display: flex;
	flex-direction: column;
	width: 70vw;
	max-width: 1000px;
	align-items: center;
}

.matches-history section {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	border-radius: 5px;
	margin: 0 0 3em;
	width: 80vw;
	max-width: 1000px;
	padding: 1em 0;
}

.history-card {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 2em 1.5em;
}

.match-item {
	position: relative;
}

.bad-url-container p {
	font-size: 1.4em;
}


@media screen and (max-width: 800px) {
	
	.start-grid {
		grid-template-columns: 1fr;
		width: 90%;
	}

	.start-grid p {
		width: 85%;
	}

	.item-1 {
		grid-column: 1;
		grid-row:1/3;
		justify-content: flex-start;
		align-items: center;
		width: 90vw;
		margin: 0 auto;
	}

	.item-1 .cutest-hamster {
		padding-bottom: 2em;
	}
	
	nav.nav {
		flex-direction: column;
		height: 100vh;
		font-size: 1.5em;
		background: var(--header-bg-mobile);
		transform: translateY(-100%);
		transition: .3s;
	}

	nav.open-nav {
		transform: translateY(0);
		transition: .3s;
	}

	h2 {
		padding: 1em 0;
		width: 80vw;
		line-height: 2em;
		margin: 1em auto;
	}

	header {
		padding-bottom: 1em;
		height: auto;
		min-height: 70vh;
	}

	.logo-svg {
		position: absolute;
		margin: unset;
		top: 2em;
		left: calc(50% - 30px);
	}

	h1 {
		margin-block-start: 2em;
		flex-wrap: wrap;
		max-width: 80vw;
	}

	.hamster-burger {
		height: 40px;
		width: 40px;
		position: fixed;
		top: 1em;
		left: 1em;
		z-index: 99;
		transition-duration: .3s;
		background-color: var(--header-bg-mobile);
		padding: .5em;
		border-radius: 100%;
	}

	.hamster-burger:hover {
		cursor: pointer;
		transform: scale(1.1);
		transition-duration: .3s;
		
	}

	.gallery-container {
		grid-template-columns: 1fr;
	}

	.add-form {
		height: 80vh;
		width: 95vw;
		margin: 3em auto;
		padding: 0 0 2em;
	}

	.hamster-card {
		width: 90%;
		height: 400px;
	}

	.hamster-card img {
		width: 100%;
		max-height: 20em;
	}

	.start-page .hamster-card img {
		margin-top: 2em;
	}

	.statistik-container {
		flex-direction: column;
	}

	.statistik-container .hamster-card {
		margin: 4em auto;
	}

	.matches-history section {
		background-color: var(--header-bg-opacity);
		max-width: unset;
		width: 95vw;
		box-shadow: var(--shadow);
		margin: 4em 0;
		padding-top: 2em;
	}

	.contestants {
		flex-direction: column;
	}

	.cutest-div {
		background-color: var(--header-bg-opacity);
		border-radius: 10px;
	}

	.info-overlay h2 {
		flex-grow: 0;
		width: unset;
	}

	aside.remove-gallery-card {
		position: absolute;
		top: 1em;
		right: 1em;
	}

	.img-name-section.img-preview {
		width: 80%;
	}

	.img-name-section img {
		right: 1.5em;
	}

	.img-name-section.img-preview input.img-input-valid:not(input:disabled) {
		width: 50%;
		margin: 0.5em 0.55em;
	}
}